footer {
  padding: 2rem;
  background-color: #403c38;
  color: #FFF;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  padding: 8px;
    font-size: 12px;
    color: #ccc;
    font-weight: 300;
    border: none;
}
